{{ attach_library('cac_prestadors/cac') }}

<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Info')" id="defaultOpen">Info</button>
  <button class="tablinks" onclick="openTab(event, 'Participacions')">Participacions</button>
  <button class="tablinks" onclick="openTab(event, 'Decisions')">Decisions</button>
  <button class="tablinks" onclick="openTab(event, 'Govern')">Organs Govern</button>
  <button class="tablinks" onclick="openTab(event, 'Serveis')">Llista Serveis</button>
</div>

<div id="Info" class="tabcontent" style="display: block;">
    {% block info %}

    <div class="panel-heading"><h2>{{ titol_inf }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_inf }}</p></div>
    <div style="overflow-x:auto;">
        <table class="cac">
            <tbody>
                {% for dada in dades_inf %}
                <tr>
                    <th colspan="8">Dades del prestador</td>
                </tr>
                <tr>
                    <th>NIF:</td>
                    <td>{{ dada['nif'] }}</td>
                    <th>Raó social:</td>
                    <td colspan="5">{{ dada['denominacioSocial'] }}</td>
                </tr>
                <tr>
                    <th colspan="8">Dades domicili social</td>
                </tr>
                <tr>
                    <th>Tipus Via</td>
                    <td>{{ dada['tipusVia'] }}</td>
                    <th>Nom Via</td>
                    <td>{{ dada['nomVia'] }}</td>
                    <th>Codi Postal</td>
                    <td>{{ dada['codiPostal'] }}</td>
                    <th>País</td>
                    <td>{{ dada['nacionalitat'] }}</td>
                </tr>
                <tr>
                    <th>Numero</td>
                    <td>{{ dada['numero'] }}</td>
                    <th>Escala</td>
                    <td>{{ dada['escala'] }}</td>
                    <th>Pis</td>
                    <td>{{ dada['pis'] }}</td>
                    <th>Porta</td>
                    <td>{{ dada['porta'] }}</td>
                </tr>
                <tr>
                    <th>Província</td>
                    <td>{{ dada['provincia'] }}</td>
                    <th>Municipi</td>
                    <td colspan="5">{{ dada['municipi'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}
  
</div>

<div id="Participacions" class="tabcontent">
    {% block participacions %}
    <div class="panel-heading"><h2>{{ titol_par }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_par }}</p></div>
    <div style="overflow-x:auto;">
        <table class="cac">
                <thead>
                    <tr>
                        <th colspan="4">Titular de participacions directes i indirectes</td>
                    </tr>
                    <tr>
                        <th>Nom / Raó Social</td>
                        <th>%</td>
                        <th>Data</td>
                        <th>Tipus Participació</td>
                    </tr>
                <thead>
                <tbody>
                    {% for dada in dades_par %}
                    <tr>
                        <td>{{ dada['nomaccionista'] }}</td>
                        <td>{{ dada['participacio'] }} % </td>
                        <td>{{ dada['data'] }}</td>
                        <td>{{ dada['tipusParticipacio'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    {% endblock %}
</div>

<div id="Decisions" class="tabcontent">
    {% block decisions %}
    <div class="panel-heading"><h2>{{ titol_dec }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_dec }}</p></div>
    <div style="overflow-x:auto;">
        <table class="cac">
            <thead>
                <tr>
                    <th>Actes i negocis jurídics sobre la llicència</td>
                </tr>
            <thead>
            <tbody>
                {% for dada in dades_dec %}
                <tr>
                    <td class="">{{ dada['decisions'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</div>

<div id="Govern" class="tabcontent">
    {% block govern %}
    <div class="panel-heading"><h2>{{ titol_org }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_org }}</p></div>
     <div style="overflow-x:auto;">
        <table class="cac">
                <thead>
                    <tr>
                        <th colspan="3" >Òrgan d'administració</td>
                    </tr>
                    <tr>
                        <th>Nom</td>
                        <th>Carrec</td>
                        <th>Data Nomenament</td>
                    </tr>
                <thead>
                <tbody>
                    {% for dada in dades_org %}
                    <tr>
                        <td class="">{{ dada['nom'] ~ ' ' ~ dada['primerCognom'] ~ ' ' ~ dada['segonCognom']}}</td>
                        <td class="">{{ dada['carrec'] }}</td>
                        <td class="">{{ dada['dataAny'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    {% endblock %}
</div>
<div id="Serveis" class="tabcontent">
    {% block serveis %}
    <div class="panel-heading"><h2>{{ titol_llist }}</h2></div>
    <div class="panel-body"><p>{{ descripcio_llist }}</p></div>
     <div style="overflow-x:auto;">
        <table class="cac">
            <tbody>
                {% set num_servei=1 %}
                {% for dada in dades_llist %}
                    <tr>
                        <th colspan="6" >Canal / Servei {{num_servei}}</td>
                    </tr>
                    <tr>
                        <th>denominació comercial</td>
                        <td colspan="5">{{ dada['nomComercial'] }}</td>
                    </tr>
                    <tr>
                        <th>descripció</td>
                        <td colspan="5">{{ dada['descripcio'] }}</td>
                    </tr>
                    <tr>
                        <th>Data Inici Emissió</td>
                        <td>{{ dada['iniciComput'] }}</td>
                        <th>Data fi Emissió</td>
                        <td>{{ dada['finalComput'] }}</td>
                        <th>Idioma</td>
                        <td>{{ dada['Idiomes'] }}</td>
                    </tr>
                    <tr>
                        <th>Tipus de contingut</td>
                        <td colspan="5">{{ dada['tipologiaProgramacio'] }}</td>
                        {# <th>Tematica</td> #}
                        {# <td>{{ dada['Tematica'] }}</td> #}
                    </tr>
                    <tr>
                        <th>Àmbit geogràfic de les emissions</td>
                        <td colspan="2">{{ dada['ambitGeografic'] }}</td>
                        <th>audiència Objectiva</td>
                        <td colspan="2">{{ dada['tipologiaAudiencia'] }}</td>
                    </tr>
                    <tr>
                        <th>Subtítols</td>
                        <td>{{ dada['subtitulat'] }}</td>
                        <th>Llenguatge de signes</td>
                        <td>{{ dada['llenguaSignes'] }}</td>
                        <th>Audiodescripció</td>
                        <td>{{ dada['audiodescripcio'] }}</td>
                    </tr>
                    <tr>
                        <th colspan="5">Servicio sin animo de lucro, segun lo dispuesto en el articulo 32 de la ley 7/010 de 31 de Marzo, general de la comunicacion Audiovisual</td>
                        <td>{{ dada['serveiSenseAnimLucre'] }}</td>
                    </tr>
                    <tr>
                        <th colspan="6">SERVICIO LINEAL (DIFUCION)</td>
                    </tr>
                    <tr>
                        <th>Tipus de servei</td>
                        <td>{{ dada['tipusServei'] }}</td>
                        <th>Tipus d'emissió</td>
                        <td>{{ dada['tipusEmissio'] }}</td>
                        <th>Horari d'emissions</td>
                        <td>{{ dada['horesEmissio'] }}</td>
                    </tr>
                    <tr>
                        <th>Tipus de suport</td>
                        <td colspan="5">{{ dada['tecnologies'] }}</td>
                    </tr>
                    <tr>
                        <th>Nº Títol habilitant</td>
                        <td>{{ dada['numTitolHabilitant'] }}</td>
                        <th>Plataforma d'Satèl·lit</td>
                        <td colspan="3">{{ dada['upLink'] }}</td>
                    </tr>
                    <tr>
                        <th>Transpondedor</td>
                        <td>{{ dada['transponedors'] }}</td>
                        <th>freqüència (Mhz)</td>
                        <td>{{ dada['frequenciaSatellit'] }}</td>
                        <th>Polarizacion</td>
                        <td>{{ dada['capacitatSatellit'] }}</td>
                    </tr>
                    <tr>
                        <th>Plataformes de Cable</td>
                        <td>{{ dada[''] }}</td>
                        <th>Plataformes de IPTv</td>
                        <td>{{ dada[''] }}</td>
                        <th>L servei emet en alta definició</td>
                        <td>{{ dada[''] }}</td>
                    </tr>
                    <tr>
                        <th>Observacions</td>
                        <td colspan="5">{{ dada['incidencia'] }}</td>
                    </tr>
                {% set num_servei=num_servei + 1 %}  
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
</div>

<script>document.getElementById("defaultOpen").className += " active";</script>