
{{ attach_library('cac_prestadors/data-tables') }}

<div class="col-sm-6">
    <div class="panel panel-default">
        <div class="panel-heading"><b>{{ titol }}</b></div>
        <div class="panel-body">
            {{ formulari }}
        </div>
    </div>
</div>
