/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #708bb1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

table.cac {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 99%;
}
table.cac table {
  font-size: 1em;
}
table.cac tr {
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table.cac thead > tr {
  border-bottom: 1px solid #000;
}
table.cac thead tr th {
  background-color: #efefef;
  color: #222222;
}
table.cac tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
table.cac tbody tr th {
  background-color: #efefef;
  color: #222222;
}
table.cac table tr th,
table.cac table tr th a,
table.cac table tr th a:hover,
table.cac table tr th a:focus {
  color: #fff;
  font-weight: bold;
}
table.cac table tbody tr th {
  vertical-align: top;
}
table.cac tr td,
table.cac tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}
.tabledrag-handle:hover,
.tabledrag-handle {
  border: none;
}
[dir="rtl"] tr td,
[dir="rtl"] tr th {
  text-align: right;
}

/**
 * Responsive tables.
 */
@media screen and (max-width: 37.5em) { /* 600px */
  th.priority-low,
  td.priority-low,
  th.priority-medium,
  td.priority-medium {
    display: none;
  }
}
@media screen and (max-width: 60em) { /* 920px */
  th.priority-low,
  td.priority-low {
    display: none;
  }
}

